body, html { margin:0px; padding:0px; height: 100%; width: 100%; }
.header { height: 60px; width: 100%; position: fixed; background-color: black;  }
.header h1 { color: #FFF; text-align: center; margin-top: 12px; margin-bottom: 12px; }
.headerBuffer { width: 100%; height: 65px; }


.backgroundImage {
	width: 100%; height: 4000px;
	background: #f4c700; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #f4c700 0%, #bc3200 66%, #bc3200 66%, #bc3200 69%, #bc3200 74%, #bc3200 75%, #bc3200 88%, #bc3200 100%, #bf6e4e 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f4c700), color-stop(66%,#bc3200), color-stop(66%,#bc3200), color-stop(69%,#bc3200), color-stop(74%,#bc3200), color-stop(75%,#bc3200), color-stop(88%,#bc3200), color-stop(100%,#bc3200), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #f4c700 0%,#bc3200 66%,#bc3200 66%,#bc3200 69%,#bc3200 74%,#bc3200 75%,#bc3200 88%,#bc3200 100%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #f4c700 0%,#bc3200 66%,#bc3200 66%,#bc3200 69%,#bc3200 74%,#bc3200 75%,#bc3200 88%,#bc3200 100%,#bf6e4e 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #f4c700 0%,#bc3200 66%,#bc3200 66%,#bc3200 69%,#bc3200 74%,#bc3200 75%,#bc3200 88%,#bc3200 100%,#bf6e4e 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #f4c700 0%,#bc3200 66%,#bc3200 66%,#bc3200 69%,#bc3200 74%,#bc3200 75%,#bc3200 88%,#bc3200 100%,#bf6e4e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4c700', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}