h1, h2, h3, h4, h5 { width: 100%; margin-left: 0px; text-align: center; }
.phoneWidth { width: 320px;  background-color: red; height: 400px; margin-left: auto; margin-right: auto; position: relative; }
