<div class="sideBySide" style="background-color: orange; height: 200px; width: 100%; ">
	<form action="/login" method="POST">
		<div class="rowSection">
			<h1 style="color: black;">Sign In</h1>
			<h4>Unsername: </h4><input type="text" name="email"></input>
		</div>
		<div class="rowSection">
			<h4>Password: </h4><input type="password" name="password" value=""></input>
		</div>
		<div class="rowSection">
			<button type="Submit">Log In</button>
			<a href="/forgotPassword">Forgot Password</a>
		</div>
	</form>
</div>